.service-container {
    display: inline-block;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.service-image-container {
    background-color: #666666;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 20px;
}

.service-image {
    margin-top: 20%;
}

.service-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.service-content {
    text-align: left;
}

.service-link {
    display: none;
    text-decoration: none;
}

.service-link:hover {
    text-decoration: none;
    color: white;
}

@media (min-width: 425px) and (max-width: 850px) {
    .service-container {
        flex: 1 0 150px;
    }
}

@media (max-width: 1200px) {
    .service-link {
        display: block;
    }

    .not-mobile {
        display: none;
    }

    .service-image-title-container {
        width: 100%;
    }

    .service-container {
        padding: 0;
    }

    .service-content {
        display: none;
    }

    .service-image-container {
        width: 100px;
        height: 100px;
    }

    .service-image {
        width: 65px
    }
}
