.service-container {
    display: inline-block;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.service-image-container {
    background-color: #666666;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 20px;
}

.service-image {
    margin-top: 20%;
}

.service-title {
    font-size: 35px;
    margin-bottom: 20px;
}

.service-content {
    text-align: left;
}

.service-link {
    display: none;
    text-decoration: none;
}

.service-link:hover {
    text-decoration: none;
    color: white;
}

@media (min-width: 425px) and (max-width: 850px) {
    .service-container {
        flex: 1 0 150px;
    }
}

@media (max-width: 1200px) {
    .service-link {
        display: block;
    }

    .not-mobile {
        display: none;
    }

    .service-image-title-container {
        width: 100%;
    }

    .service-container {
        padding: 0;
    }

    .service-content {
        display: none;
    }

    .service-image-container {
        width: 100px;
        height: 100px;
    }

    .service-image {
        width: 65px
    }

    /*.display-for-small-screen {*/
    /*}*/

    /*.display-single {*/
    /*    animation-duration: 500ms;*/
    /*    animation-name: increase-width;*/
    /*    animation-fill-mode: forwards;*/
    /*}*/

    /*.hide-for-small-screen {*/
    /*    display: none;*/
    /*}*/

    /*.service-click-animation {*/
    /*    animation-duration: 1s;*/
    /*    animation-name: slide-center;*/
    /*    animation-fill-mode: forwards;*/
    /*}*/

    /*.service-content.service-click-text-animation {*/
    /*    display: block;*/
    /*}*/

    /*@keyframes increase-width {*/
    /*    from {}*/
    /*    to {*/
    /*        width: 100%;*/
    /*    }*/
    /*}*/

    /*@keyframes slide-center {*/
    /*    from {*/
    /*        margin-right: 0;*/
    /*        margin-left: 0;*/
    /*    }*/

    /*    to {*/
    /*        margin-right: 30%;*/
    /*        margin-left: 30%;*/
    /*    }*/
    /*}*/
}
