<!DOCTYPE html>
<html>
  <body>
    <p>
      name: <%= @name %> <br />
      company_name: <%= @company_name %> <br />
      email: <%= @email %> <br />
      project: <%= @project %> <br />
    </p>
  </body>
</html>
