.title {
    font-family: 'Gentium Basic', serif;
    font-size: 3em;
    text-align: center;
    display: block;
    position: relative;
    top: 17vh;
}

.content {
    font-family: 'Gentium Basic', serif;
    font-size: 1.5em;
    display: block;
    position: relative;
    top: 15vh;
    padding: 7vh 30vh;
}

.images {
    margin-top: 10%;
    display: flex;
    flex-grow: 2;
}

.image {
    margin: auto;
    width: 400px;
    height: 400px;
    background: #1E1E1E;
    text-align: center;
    padding-top: 125px;
    border-radius: 200px;
}

