.title {
    font-family: 'Gentium Basic', serif;
    font-size: 3em;
    text-align: center;
    display: block;
    position: relative;
    top: 190px;
}

.sub-title {
    font-size: 2em;
}

.content {
    font-family: 'Gentium Basic', serif;
    font-size: 1.5em;
    display: block;
    position: relative;
    top: 283px;
    padding-right: 15%;
    padding-left: 15%;
}
